<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rmc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Injured_animalreport_main"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Dirty_toiletreport_main"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Waste_pickupreport_main"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Waste_segregation_main"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Water_reuseguide_main"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Food_adultration_main"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>