<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rmc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/rmc"
        android:label="@string/app_name"
        android:roundIcon="@drawable/rmc"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".photo_blackppr"></activity>
        <activity android:name=".photo_greenpea" />
        <activity android:name=".photo_potato" />
        <activity android:name=".photo_okra" />
        <activity android:name=".photo_chili" />
        <activity android:name=".Photobased" />
        <activity android:name=".MenuFoodAdulteration" />
        <activity android:name=".Splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserLogin" />
        <activity
            android:name=".Showimg_wastepickupreport"
            android:parentActivityName=".Waste_pickupreport_main" />
        <activity
            android:name=".Showimg_animalreport"
            android:parentActivityName=".Injured_animalreport_main" />
        <activity
            android:name=".Showimg_toiletreport"
            android:parentActivityName=".Showimg_toiletreport" />
        <activity
            android:name=".Injured_animalreport_main"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Dirty_toiletreport_main"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Waste_pickupreport_main"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Waste_segregation_main"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Food_adultration_main"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>